:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.mainPage {
  text-align: center;
}

.opening {
  padding: 2rem;
}

ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: rgb(255, 102, 0);
}

li {
  list-style: none;
}

.bandDescription {
  padding-right: 5rem;
  padding-left: 5rem;
}

.bandName {
  color: orangered;
  text-align: center;
}

.bandPageName {
  color: orangered;
  text-align: center;
  padding: 1rem;
}

.bandImage {
  width: 80%;
  height: auto;
  padding-left: 7rem;
}

.albumTitle {
  padding-left: 3rem;
}

.albumImage {
  width: 20%;
  height: auto;
}

.albumInfo {
  padding-left: 2rem;
  margin-top: 0;
}

.albumSection {
  padding-left: 3rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-evenly;
}
